.home__wrapper {
    min-height: 100vh;
    overflow: auto;
    height: auto;
    position: relative;
    background-color: #fafafa;
}

.home__content {
    position: absolute;
    top: 134px;
    left: 0;
    right: 0;
    z-index: 1;
}
