@font-face {
    font-family: 'Gala_Regular';
    src: url('./assets/fonts/galanogrotesque-regular.otf');
}

@font-face {
    font-family: 'Gala_Medium';
    src: url('./assets/fonts/galanogrotesque-medium.otf');
}

@font-face {
    font-family: 'Gala_SemiBold';
    src: url('./assets/fonts/galanogrotesque-semibold.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Gala_Regular';
    overflow-x: hidden;
}

a{
    color: #000;
    text-decoration: none;
}